@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-700: #2436a6;
  --color-brand-800: #1c2a82;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
